@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

#officecalc {
  @apply w-screen lg:max-w-3xl min-h-screen;
  @apply mx-auto;
  @apply flex;
}

#calc {
  @apply flex flex-col grow;
  @apply p-5;
  @apply bg-[url(/default.jpg)] bg-center;
}

#copyright {
  @apply text-center text-gray-500;
}

.page_layout {
  @apply flex flex-col gap-4;
}

.page_title {
  @apply font-semibold text-xl;
}

.flex-default {
  @apply flex gap-4 items-center;
}

.flex-btn {
  @apply flex items-center gap-3;
}

.absol-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}
